<nav class="navbar navbar-default">
    <div class="container">

        <!-- Navbar brand icon/logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa fa-code"></i>
            </a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <i class="fa fa-ellipsis-h fa-lg"></i>
            </button>
        </div>

        <!-- Navbar list -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>