<ul class="sidebar col-sm-1">
    <li><a href="/survey/create/" title="Create Survey"><i class="fa fa-plus fa-2x"></i></a></li>
    <li><a href="/survey/" title="View Survey"><i class="fa fa-eye fa-2x"></i></a></li>
    <li><a href="/survey/reports" title="Reports"><i class="fa fa-check-square-o fa-2x"></i></a></li>
    <li><a href="/user/profile/" title="My Profile"><i class="fa fa-user fa-2x"></i></a></li>
</ul>