<ul class="sidebar col-sm-1">
    <li><a href="/admin/create/" title="Create User"><i class="fa fa-plus fa-2x"></i></a></li>
    <li><a href="/admin/dashboard/" title="Dashboard"><i class="fa fa-user fa-2x"></i></a></li>
    <li><a href="/admin/logout/" title="Logout"><i class="fa fa-sign-out fa-2x"></i></a></li>
</ul>